body {
  background: rgb(249, 250, 247);
  background: linear-gradient(
    90deg,
    rgba(249, 250, 247, 1) 10%,
    rgba(253, 255, 69, 1) 79%
  );
}
.topnav {
  overflow: hidden;
  background-color: #ffc107;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #e95e00;
  color: black;
}

.topnav a.split {
  float: right;
  background-color: #e95e00;
  color: white;
}
.main-section {
  margin: 0 auto;
  margin-top: 25%;
  padding: 0;
}

.modal-content {
  background-color: rgb(245 192 34);
  opacity: 0.95;
  padding: 0 20px;
  box-shadow: 0px 0px 3px #848484;
}

.user-img {
  margin-top: -50px;
  margin-bottom: 35px;
}
.user-img img {
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 3px #848484;
  border-radius: 50%;
}

.form-group {
  padding-bottom: 10px;
}

.form-group input {
  height: 42px;
  font-size: 18px;
  border: 0;
  padding-left: 54px;
  border-radius: 5px;
}

button {
  width: 60%;
  margin: 5px 0 25px;
  margin-bottom: 1em;
  margin-bottom: 10px;
  margin-top: 10px;
}
.btn-primary {
  color: #fff;
  background-color: #e95e00;
  border-color: #e95e00;
}

#roll {
  margin-bottom: 10px;
}

.encabezado {
  background-color: black;
  text-align: center;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  text-shadow: 1px 1px 1px rgb(116, 116, 116);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ffc107;
  text-align: center;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}

#olvCon {
  margin-bottom: 12px;
}
